@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Roboto';
}

.signup-content {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-top: 7vh;
}

.top-content {
    display: flex;
}

.profile-pic {
    position: relative;   
    z-index: 1;
    margin: 6vh 0vw;
    width: 17rem;
    height: 17rem;
}

.profile-pic .image {
    margin: 6vh 0vw;
    width: 17rem;
    height: 17rem;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.browse-pic {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.browse-pic a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.browse-pic a:hover{
    text-decoration: underline;
    font-weight: 500;
    color: #339ffd;
}

.profile-pic:hover .image {
    opacity: 0.2;
}

.profile-pic:hover .browse-pic {
    opacity: 1;
}

.personal-info {
    margin: 6vh 4vw;
    display: flex;
    flex-direction: column;
}

.fname-number {
    display: flex;
}

.lastname-age {
    display: flex;
}

.password {
    display: flex;
}

.data {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    /* margin-bottom: 0vh; */
}

#inputdata {
    font-size: 1.5rem;
    width: 22vw;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
    border: 3px solid rgb(206, 204, 204);
}

#inputdata::placeholder {
    color: black;
    font-weight: 300;
}

.personal-info form {
    margin-right: 10vw;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    /* margin-left: 5vw; */
}

.cnic-salary {
    display: flex;
    justify-content: space-around;
}

#cnic-salary {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cnic-salary #inputdata {
    margin-left: 0.5vw;
    margin-right: 9vw;
}

#cnic-salary .data {
    margin-bottom: 1vh;
}

/* #passord span{
    width: 24vw;
    display: flex;
} */

/* .password #passord .span{

    background: linear-gradient(25deg, #8600b3 50%, #cc33ff 50%);

	width: 500px;

	height: 50px;

	background-color: white;

	border-radius: 30px;

	display: flex;

	align-items: center;

	padding: 20px;

}

#passord .span > i {

	font-size: 20px;

	color: #777;

}

#passord .span > input{

	flex: 1;

	height: 40px;

	border: none;

	outline: none;

	font-size: 18px;

	padding-left: 10px;
}
 */

.role-reporter-company {
    display: flex;
    margin: 5vh 0;
    align-items: center;
    justify-content: space-around;
    color: black;
    /* justify-content: space-evenly; */
}

.role {
    display: flex;
    align-items: center;
}

.role-reporter-company .select {
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 0.5vw;
}

.role #role {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 8px;
    border: 3px solid rgb(206, 204, 204)
}

.reporter {
    display: flex;
    align-items: center;
}

.reporter #reporter {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 8px;
    border: 3px solid rgb(206, 204, 204)
}

.company #company {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 8px;
    border: 3px solid rgb(206, 204, 204)
}


.attendance {
    margin-top: 2vh;
    margin-left: 4vw;
    font-size: 1.6rem;
    font-weight: 400;
    align-items: center;
}

#attendance {
    display: flex;
}

#attendance input {
    height: 22px;
    width: 22px;
    margin: 5px;
}

#attendance:hover input {
    cursor: pointer;
}

.cnic-front-back {
    display: flex;
    margin-top: 4vh;
    align-items: center;
    justify-content: space-around;
}

.cnic-front {
    display: flex;
    align-items: center;
}


.cnic-back {
    display: flex;
    align-items: center;
}

.cnic-front-back .text {
    font-size: 1.6rem;
    font-weight: 400;
    /* margin-top: auto; */
    width: 10rem;
}

.cnic-pic{
    width: 20rem;
    position: relative;
    z-index: 1;
}

.cnic-pic .image{
    width: 20rem;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cnic-pic .browse-pic {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cnic-pic:hover .image {
    opacity: 0.3;
}

.cnic-pic:hover .browse-pic {
    opacity: 1;
}


.save-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.save{
    margin-right: 5vw;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 12px;
    background:  #339ffd;
    color: white;
    cursor: pointer;
}

.save .btn {
    padding: 0.5rem 1.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 12px;
    background:  #339ffd;
    color: white;
    cursor: pointer;
}


.btn:hover{
    background: #1475ca;
}